<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mini Email Box | Lab02 - 1412579 - 1412564 | Ứng dụng phân tán - HATU - 2017</title>
    <link rel="shortcut icon" href="/images/mm.ico">
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/js/editormd/editormd.min.css">
    <link rel="stylesheet" href="/js/select2/select2.min.css">
    <link rel="stylesheet" href="/js/sweetalert/sweetalert.css">
    <link rel="stylesheet" href="/css/AdminLTE.min.css">
    <link href="/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

        <!-- DataTables Responsive CSS -->
    <link href="/datatables-responsive/dataTables.responsive.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a rel="home" href="/" title="Mini Mailbox">
                    <img style="max-width:100px; padding-top: 5px;"
                         src="/images/brand.png">
             </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                    <li>
                        <a href="/mailbox"><i class="fa fa-inbox fa-fw"></i> Mailbox</a>
                    </li>
                {{/if}}
                    <li>
                        <a href="#"><i class="fa fa-user fa-fw"></i> Người dùng</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-group fa-fw"></i> Về chúng tôi</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    

{{{ body }}}
    


    

    <!-- jQuery -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <script src="/js/app.min.js"></script>
<script src="/js/editormd/editormd.min.js"></script>
<script src="/js/select2/select2.min.js"></script>
<script src="/js/sweetalert/sweetalert.min.js"></script>
<script src="/js/moment.min.js"></script>

<!-- DataTables JavaScript -->
<script src="/datatables/js/jquery.dataTables.min.js"></script>
<script src="/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="/datatables-responsive/dataTables.responsive.js"></script>

<!-- Page Script -->

{{#if sentEmail}}

<script type="text/javascript">
    swal({
        title: "Thành công!",
        text: "Bạn đã gửi email thành công!",
        type: "success",
        confirmButtonColor: "#05bc05",
        confirmButtonText: "Oke",
        closeOnConfirm: true,
    });
    </script>

{{/if}}

<script type="text/javascript">
$(document).ready(function() {
    $(".select2").select2();
    $(".alert-rf").hide();
    $(".alert-loadmore").hide();
    $(".auto-alert-rf").hide();
    $("#success").hide();
    $('div.alert').delay(5000).slideUp();
    var now = moment();
    moment.updateLocale('en',{
        relativeTime : {
            future: "trong %s",
            past:   "%s trước",
            s:  "vài giây",
            m:  "một phút",
            mm: "%d phút",
            h:  "một giờ",
            hh: "%d giờ",
            d:  "một ngày",
            dd: "%d ngày",
            M:  "một tháng",
            MM: "%d tháng",
            y:  "một năm",
            yy: "%d năm"
        }
    });

    $('time').each(function(i, e) {
        var time = moment($(e).attr('datetime'));

        if(now.diff(time, 'days') <= 1) {
            $(e).html('<span>' + time.from(now) + '</span>');
        }
    });

    $("#refresh").on('click',function(){
        var url = 'http://localhost:3000/api-mailbox'; 
        var id = '{{user.id}}';
        //alert(id);
        var page = $("#currentPage").val();
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data:{id:id,page:page},
            success: function (data){
                if(data){
                    var jsonObj = $.parseJSON(data);
                    $('#emptyMailbox').empty();
                    $.each(jsonObj, function(index,val){
                        var read = val.read == 1 ? '<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>' : '<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>';
                        var STT = parseInt(index) + 1;
                        var append = '<tr><td>'+ STT +'</td>' + read + '<td class="mailbox-name"><a href="/read/'+ val.id +'">Người gửi: '+val.fullname+'</a></td> <td class="mailbox-subject"><b>'+val.title+'</b></td> <td class="mailbox-date">Đã nhận <time datetime="'+ val.created_at +'" pubdate> '+ val.created_at +' </time></td> </tr>';
                        $('#emptyMailbox').append(append);
                        $(".alert-rf").show();
                        setTimeout(function() { $(".alert-rf").slideUp(); }, 3000);
                    });
                    $('time').each(function(i, e) {
                        var time = moment($(e).attr('datetime'));

                        if(now.diff(time, 'days') <= 1) {
                            $(e).html('<span>' + time.from(now) + '</span>');
                        }
                    });
                }
                else alert('Ajax không thành công!');
             }
        });
    });

    $("#loadmore").on('click',function(){
        var url = 'http://localhost:3000/api-mailbox'; 
        var id = '{{user.id}}';
        //alert(id);
        var page = $("#currentPage").val();
        page = parseInt(page) + 1;
        $("#currentPage").val(page);
        $.ajax({
            url: url,
            type: 'GET',
            cache: false,
            data:{id:id,page:page},
            success: function (data){
                if(data){
                    var jsonObj = $.parseJSON(data);
                    $('#emptyMailbox').empty();
                    $.each(jsonObj, function(index,val){
                        var read = val.read == 1 ? '<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>' : '<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>';
                        var STT = parseInt(index) + 1;
                        var append = '<tr><td>'+ STT +'</td>' + read + '<td class="mailbox-name"><a href="/read/'+ val.id +'">Người gửi: '+val.fullname+'</a></td> <td class="mailbox-subject"><b>'+val.title+'</b></td> <td class="mailbox-date">Đã nhận <time datetime="'+ val.created_at +'" pubdate> '+ val.created_at +' </time></td> </tr>';
                        $('#emptyMailbox').append(append);
                        $(".alert-loadmore").show();
                        setTimeout(function() { $(".alert-loadmore").slideUp(); }, 3000);
                    });
                    $('time').each(function(i, e) {
                        var time = moment($(e).attr('datetime'));

                        if(now.diff(time, 'days') <= 1) {
                            $(e).html('<span>' + time.from(now) + '</span>');
                        }
                    });
                }
                else alert('Ajax không thành công!');
             }
        });
    });

    $(window).scroll(function() {
        if(($(window).scrollTop() + $(window).height() > $(document).height()-50) && window.location.href.indexOf("mailbox") > -1) {
   
            var url = 'http://localhost:3000/api-mailbox'; 
            var id = '{{user.id}}';
            //alert(id);
            var page = $("#currentPage").val();
            page = parseInt(page) + 1;
            $("#currentPage").val(page);
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data:{id:id,page:page},
                success: function (data){
                    if(data){
                        var jsonObj = $.parseJSON(data);
                        $('#emptyMailbox').empty();
                        $.each(jsonObj, function(index,val){
                            var read = val.read == 1 ? '<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>' : '<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>';
                            var STT = parseInt(index) + 1;
                            var append = '<tr><td>'+ STT +'</td>' + read + '<td class="mailbox-name"><a href="/read/'+ val.id +'">Người gửi: '+val.fullname+'</a></td> <td class="mailbox-subject"><b>'+val.title+'</b></td> <td class="mailbox-date">Đã nhận <time datetime="'+ val.created_at +'" pubdate> '+ val.created_at +' </time></td> </tr>';
                            $('#emptyMailbox').append(append);
                            $(".alert-loadmore").show();
                            setTimeout(function() { $(".alert-loadmore").slideUp(); }, 3000);
                        });
                        $('time').each(function(i, e) {
                            var time = moment($(e).attr('datetime'));

                            if(now.diff(time, 'days') <= 1) {
                                $(e).html('<span>' + time.from(now) + '</span>');
                            }
                        });
                    }
                    else alert('Ajax không thành công!');
                 }
            });
     
            
        }
    });


    setInterval( function(){ 
        if(window.location.href.indexOf("mailbox") > -1) {
            var url = 'http://localhost:3000/api-mailbox'; 
            var id = '{{user.id}}';
            //alert(id);
            var page = $("#currentPage").val();
            $.ajax({
                url: url,
                type: 'GET',
                cache: false,
                data:{id:id,page:page},
                success: function (data){
                    if(data){
                        var jsonObj = $.parseJSON(data);
                        $('#emptyMailbox').empty();
                        $.each(jsonObj, function(index,val){
                            var read = val.read == 1 ? '<td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>' : '<td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>';
                            var STT = parseInt(index) + 1;
                            var append = '<tr><td>'+ STT +'</td>' + read + '<td class="mailbox-name"><a href="/read/'+ val.id +'">Người gửi: '+val.fullname+'</a></td> <td class="mailbox-subject"><b>'+val.title+'</b></td> <td class="mailbox-date">Đã nhận <time datetime="'+ val.created_at +'" pubdate> '+ val.created_at +' </time></td> </tr>';
                            $('#emptyMailbox').append(append);
                            $(".auto-alert-rf").show();
                            setTimeout(function() { $(".auto-alert-rf").slideUp(); }, 3000);
                        });
                        $('time').each(function(i, e) {
                            var time = moment($(e).attr('datetime'));

                            if(now.diff(time, 'days') <= 1) {
                                $(e).html('<span>' + time.from(now) + '</span>');
                            }
                        });
                    }
                    else alert('Ajax không thành công!');
                 }
            });
        }
        
    }  , 30000 );
});
</script>
</script>

</body>

</html>


